# GitHub Actions My

name: My-FirstActions

on: 
  push:
    branches:
      - main

jobs:
  my_testing:
   runs-on: ubuntu-latest
   steps:
     - name: Print Hello in Test
       run: echo "Hello World from Testing"

  my_deploy:
   runs-on: ubuntu-latest
   needs: my_testing
   steps:
     - name: Print Hello in Deploy
       run: echo "Hello World from Deploy"
